@font-face {
    font-family: 'Conthrax';
    src: url('./conthrax-sb.ttf');
}
@font-face {
    font-family: 'verdana';
    src: url('./verdana.ttf');
}
@font-face {
    font-family: 'Noto Sans JP';
    src: url('./Noto_Sans_JP.ttf');
}
@font-face {
    font-family: 'kozuka';
    src: url('./Kozuka-Gothic-Pr6N-Regular-2.otf');
}